.container__order{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #DED8D3;
    width: 30%;
    height: 90vh;
}

.header__order{
    padding: 15px;
    width: 100%;
    border-bottom: solid 1px #DED8D3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content__order{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.title__order{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.delete__btn{
    cursor: pointer;
    background: transparent;
    border: none;   
}

.container__lettler{
    padding: 20px;
    margin: 12px;
    background: #F0EDE9;
    border-radius: 2px;
}

/* cuando NO hay productos */
.container__lettler.empty {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.content__lettler{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.content__lettler__info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.lettler__title{
    font-size: 14px;
    font-weight: 600;
}

.lettler_price{
    font-size: 13px;
    color: #847B74;
}

.content__lettler__add{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.content__lettler__add span{
    font-size: 13px;
    font-weight: bold;
}

.action__btn{
    background: white;
    padding: 8px 12px;
    border: solid 1px #DED8D3;
    border-radius: 70%;
    cursor: pointer;
}

.order__price{
    font-size: 14px;
    font-weight: bold;
}

.container__subtotal{
    border-bottom: solid 1px #DED8D3;
    border-top: solid 1px #DED8D3;
    padding: 12px;
}
.content__subtotal{
    width: 100%;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    
}
.content__subtotal span{
    font-size: medium;
    color: #847B74;
}

.content__subtotal__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid 1px blue; */
}

.content__subtotal__price{
    /* border: solid 1px green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.container__total{
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.content__total__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content__total__info span{
    font-size:18px;
    font-weight: bold;
}

.btn__payment{
    background: #E3691E;
    width: 100%;
    color: white;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}
