.container__product{
    /* background-color: white solid 1px; */
    /* border: #EAE5E1 solid 1px; */
    width: 240px;
    border-radius: 14px;
    overflow: hidden;
    background: #fff;
    box-shadow:  4px 10px rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.content__image{
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.image__product{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__info{
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* padding: 10px; */
}

.product__title{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.product__description{
    margin: 0;
    font-size: 13px;
    color: gray;
}

.product__price{
    font-size: 18px;
    font-weight: bold;
    color: #f97316;
}

.content__btn{
    margin: 10px 10px;
    /* border: red solid 1px;
    border-radius: 10%; */
}

.btn__add{
    width: 100%;
    border: orange solid 1px;
    color: orange;
    padding-right: 12px;
    padding-left: 12px;
    /* margin-top: 8px; */
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}